{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="header-admin">
        <div class="overlay-admin">
            <!-- Texte principal et bouton -->
            <div class="header-admin-content text-center">
                <h1 class="header-admin-title">Notre Galerie</h1>
            </div>
        </div>
    </section>
    <section class="form">
        <div class="container mt-3 mb-3  justify-content-center ">
            <div class="form-card card shadow-lg">
                <form class="form-admin" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal ">Connexion Administration</h1>
                    <label for="inputPseudo" >Pseudo</label>
                    <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="admin-input form-control" autocomplete="username" required autofocus placeholder="Entrez votre pseudo">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="admin-input form-control" autocomplete="current-password" required autofocus placeholder="Entrez votre mot de passe">

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >


                    <button class="form-btn btn btn-lg" type="submit">
                        Se connecter
                    </button>
                </form>
            </div>

        </div>
    </section>

{% endblock %}
