{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez 2M AUTO{% endblock %}
{% block meta_description %}
    Découvrez nos services de detailing automobile pour donner une seconde jeunesse à votre véhicule. Nettoyage intérieur, polissage, rénovation optique et bien plus.
{% endblock %}

{% block body %}


    <section class="header-accueil">
        <div class="overlay-accueil">
            <!-- Texte principal et bouton -->
            <div class="header-accueil-content text-center">
                <h1 class="header-accueil-title">Parce que votre voiture mérite le meilleur !</h1>
                <a href="{{ path('app_contact') }}" class="btn btn-contact">Contactez-nous !</a>
            </div>
        </div>
    </section>
    <div class="line"></div>




    <section class="about-section">
        <div class="container d-flex align-items-center justify-content-between">
            <!-- Colonne Texte -->
            <div class="about-text ">
                <h2>Chez <span class="highlight">2M AUTO SERVICES</span>, nous sommes passionnés par l’automobile et soucieux du détail.</h2>
                <p>
                    Nous proposons des prestations adaptées à tous les types de véhicules, pour répondre aux besoins des particuliers comme des professionnels. Notre équipe met son savoir-faire à votre service pour garantir un résultat impeccable et une satisfaction totale.
                </p>
                <button type="button" class="btn btn-light">Contact</button>
            </div>

            <!-- Colonne Image -->
            <div class="about-image ">
                <img src="{{ asset('img/IMG_9443.jpg') }}" alt="apropos">
            </div>
        </div>
    </section>


    <section class="why-choose-us">
        <div class="container">
            <!-- Titre principal -->
            <hr class="title-divider">
            <h2 class="section-title">Pourquoi choisir <span>2M</span> AUTO SERVICES ?</h2>
            <!-- Liste des points -->
            <div class="row benefits-list">
                <div class="card col-md-5 col-sm-12 mb-4">
                    <div class="card-body">
                        <h2><strong>Soin personnalisé</strong></h2>
                        <p>Chaque véhicule est unique, et nous adaptons nos services pour répondre parfaitement à ses besoins spécifiques.</p>
                    </div>
                </div>
                <div class="card col-md-4 col-sm-12 mb-4">
                <div class="card-body ">
                        <h2><strong>Rapidité et efficacité</strong></h2>
                        <p>Un service professionnel, sans compromis sur la qualité, pour un résultat impeccable dans les meilleurs délais.</p>
                </div>
                </div>
            <div class="card col-md-4 col-sm-12 mb-4">
                    <div class="card-body ">
                        <h2><strong>Satisfaction garantie</strong></h2>
                        <p>Votre satisfaction est notre priorité absolue. Si vous n’êtes pas satisfait, nous nous engageons à corriger les moindres détails.</p>
                    </div>
            </div>
            <div class="card col-md-7 col-sm-12 mb-4">
                    <div class="card-body ">
                        <h2><strong>Expérience locale</strong></h2>
                        <p>Entreprise implantée à Ambérieu-en-Bugey, nous sommes proches de nos clients et comprenons leurs attentes.</p>
                    </div>
            </div>
                <div class="card col-md-3 col-sm-12 mb-4">
                    <div class="card-body">
                        <h2><strong>Matériel de pointe</strong></h2>
                        <p>Nous utilisons des outils et des produits haut de gamme pour garantir un nettoyage optimal.</p>
                    </div>
                </div>
                <div class="card col-md-4 col-sm-12 mb-4">
                    <div class="card-body">
                        <h2><strong>Prix compétitifs</strong></h2>
                        <p>Une qualité premium accessible à tous, avec des forfaits adaptés à tous les budgets.</p>
                    </div>
                </div>
                <div class="card col-md-4 col-sm-12 mb-4 ">
                    <div class="card-body">
                        <h2><strong>Transparence totale</strong></h2>
                        <p>Pas de coûts cachés! Vous savez exactement ce que vous payez.</p>
                    </div>
                </div>
            </div>
            </div>


    </section>

    <section class="services">
        <section class="container text-center">
            <h2 class="service-title">Nos Services</h2>
            <p class="service-texte">Découvrez nos services de detailing intérieur et extérieur pour particuliers et professionnels</p>
            <!-- Cartes -->
            <div class="row">
                {% for service in services %}<!-- Card 1 -->
                <div class="col-md-4 col-sm-12 mb-4">
                    <div class="card service-card">
                        <img src="{{ asset('uploads/' ~ service.image ) }}" class="card-img-top img-fluid" alt="{{service.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{ service.name }}</h5>
                            <p class="card-text">{{ service.description }}</p>
                            <a href="{{ path('app_services') }}" class="btn btn-warning">En savoir +</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </section>


    <section class="tem mt-lg-5">
        <div class="container">
            <!-- Témoignage Section -->
            <div class="row mb-5">
                <!-- Image -->
                <div class="col-md-6">
                    <img src="{{ asset('img/DSC_1103.JPG') }}" alt="Car detailing" class="img-fluid rounded">
                </div>
                <!-- Témoignage -->
                {% if avisselection %}
                <div class="col-md-6 d-flex align-items-center">
                    <div class="testimonial p-4 rounded">
                        <p class="rating">
                            {% for i in 1..avisselection.note %}
                            <span>★</span>
                            {% endfor %}
                        </p>
                        <p class="feedback">{{ avisselection.commentaire }}</p>
                        <p class="author">{{ avisselection.auteur }}</p>
                    </div>
                </div>
                {% else %}
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="testimonial p-4 rounded">

                            <p class="feedback"> Aucun avis pour le moment</p>

                        </div>
                    </div>

                {% endif %}
            </div>

            <!-- Localisation Section -->
            <div class="row">
                <!-- Texte -->
                <div class="text-where col-md-6 ">
                    <h2 class="section-title">Où nous trouver ?</h2>
                    <p>Notre atelier de detailing est idéalement situé à Ambérieu-en-Bugey, offrant un accès facile et pratique pour nos clients de la région et des alentours.</p>
                    <p>Dans un cadre calme et professionnel, nous vous accueillons pour prendre soin de votre véhicule avec expertise et passion.</p>
                    <h4>Adresse</h4>
                    <p>315 Rue des mouettes<br>01500, AMBERIEU EN BUGEY</p>
                    <h4>Horaires</h4>
                    <p>Uniquement sur rendez-vous</p>
                    <a href="{{ path('app_contact') }}" class="btn btn-light">Contact</a>
                </div>
                <!-- Carte -->
                <div class="carte col-md-6  ">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2773.566874889168!2d5.329619276931425!3d45.959936171086454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478b5225769b314f%3A0x9a7afa65117002c9!2s315%20Rue%20des%20Mouettes%2C%2001500%20Amb%C3%A9rieu-en-Bugey!5e0!3m2!1sfr!2sfr!4v1735945823533!5m2!1sfr!2sfr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
