<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img class="navbar-logo" src="{{ asset('img/logo2.png') }}" alt="Logo" height="50">
        </a>

        <!-- Bouton mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Liens -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_home' %}active{% endif %}" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_services' %}active{% endif %}" href="{{ path('app_services') }}">Nos services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_galerie' %}active{% endif %}" href="{{ path('app_galerie') }}">Galerie</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_contact' %}active{% endif %}" href="{{ path('app_contact') }}">Contact</a>
                </li>
            </ul>

            <!-- Icônes sociales -->
            <div class="social-links d-flex align-items-center">
                <a href="https://snapchat.com/add/m.auto01500"
                   data-mobile-url="snapchat://add/m.auto01500"
                   data-desktop-url="https://snapchat.com/add/m.auto01500"
                   class="snap social-link"
                   onclick="handleSocialClick(event)"
                   title="Snapchat" target="_blank" data-tooltip="m.auto01500">
                    <i class="bi bi-snapchat"></i>
                </a>
                <a href="https://www.instagram.com/2m_auto01/"
                   data-mobile-url="instagram://user?username=2m_auto01"
                   data-desktop-url="https://www.instagram.com/2m_auto01/"
                   class="insta social-link"
                   onclick="handleSocialClick(event)"
                   title="Instagram" target="_blank" data-tooltip="2m_auto01">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://facebook.com" target="_blank" class="social-link" data-tooltip="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</nav>