{% extends 'base.html.twig' %}

{% block title %}La Galerie{% endblock %}
{% block meta_description %}Découvrez les résultats spectaculaires de nos services de detailing automobile : photos avant/après de rénovations, nettoyages et traitements effectués sur différents véhicules.{% endblock %}
{% block meta_keywords %}galerie detailing auto, photos nettoyages voiture, avant après polissage voiture, rénovation optique phares, résultats detailing auto, transformation voiture{% endblock %}

{% block body %}
    <section class="header-galerie">
        <div class="overlay-galerie">
            <!-- Texte principal et bouton -->
            <div class="header-services-content text-center">
                <h1 class="header-services-title">Notre Galerie</h1>
            </div>
        </div>
    </section>
    <div class="line"></div>
    <p class="gallery-subtitle mb-5">
        Découvrez nos réalisations en matière de detailing automobile. Nos clients nous font confiance pour donner une nouvelle vie à leurs véhicules.
    </p>
    {% for section, images in imagesBySection %}
        <section id="{{ section|lower|replace({' ': '_'}) }}">
            <h2 class="gallery-title">{{ section }}</h2>
            <div id="carousel{{ loop.index }}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ asset('uploads/' ~ image.image) }}" class="d-block w-100 img-fluid rounded" alt="{{ section }}">
                        </div>
                    {% endfor %}
                </div>

                {% if images|length > 1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ loop.index }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ loop.index }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </button>
                {% endif %}
            </div>
        </section>
    {% endfor %}
{% endblock %}
